<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name ="stockDB"
        
      connectionString="Data Source=DESKTOP-DL0SJ1G\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True;Encrypt=False"/>
  </connectionStrings>
</configuration>